.hero {
  margin: 80px 0 64px;
  background-color: var(--color-lavender);
  padding: 80px 0;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.hero__subtitle {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__title {
  margin-bottom: 16px;
}

.hero__title-link {
  display: block;
  color: inherit;
}

.hero__info {
  margin-bottom: 16px;
  color: var(--color-dark-grey);
}

.hero__text {
  margin-bottom: 32px;
}

.hero__link {
  display: inherit;
}
