<section class="content">
  <div class="container">
    <div class="content__top">
      <div class="content__author">
        <img
          class="content__author-img"
          src="{=$authors-img-path}/author-5.png"
          alt="Andrew Jonson"
        />
        <div class="content__author-wrapper">
          <h4 class="content__author-name">Andrew Jonson</h4>
          <p class="content__author-date">Posted on 27th January 2022</p>
        </div>
      </div>
      <h2 class="content__title">
        Step-by-step guide to choosing great font pairs
      </h2>
      <p class="content__tag">
        <svg class="icon">
          <use xlink:href="{=$icons-path}#shuttle"></use>
        </svg>
        Startup
      </p>
    </div>
    <img class="content__img" src="{=$post-img-path}" alt="Content Image" />
    <div class="content__article">
      <div class="content__article-box">
        <h3 class="content__article-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod.
        </h3>
        <p class="content__article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
          risus viverra adipiscing at in tellus. Sociis natoque penatibus et
          magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
          leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
          gravida rutrum quisque non.
        </p>
      </div>
      <div class="content__article-box">
        <h3 class="content__article-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod.
        </h3>
        <p class="content__article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
          risus viverra adipiscing at in tellus. Sociis natoque penatibus et
          magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
          leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
          gravida rutrum quisque non.
        </p>
        <p class="content__article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
          risus viverra adipiscing at in tellus. Sociis natoque penatibus et
          magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
          leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
          gravida rutrum quisque non.
        </p>
        <ul class="content__article-list">
          <li class="content__article-item">Lorem ipsum dolor sit amet</li>
          <li class="content__article-item">
            Non blandit massa enim nec scelerisque
          </li>
          <li class="content__article-item">
            Neque egestas congue quisque egestas
          </li>
        </ul>
        <p class="content__article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
          risus viverra adipiscing at in tellus. Sociis natoque penatibus et
          magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
          leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
          gravida rutrum quisque non.
        </p>
      </div>

      <div class="content__article-box">
        <h3 class="content__article-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod.
        </h3>
        <p class="content__article-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
          risus viverra adipiscing at in tellus. Sociis natoque penatibus et
          magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
          leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
          gravida rutrum quisque non.
        </p>
      </div>
    </div>
  </div>
</section>
