.posts {
  margin-bottom: 151px;
}

.posts__inner {
  display: flex;
  gap: 32px;
}

.post__container-title {
  margin-bottom: 32px;
}

.post__wrapper {
  padding: 31px 32px;
  border: 1px solid rgb(109, 110, 118);
}

.post__image {
  margin-bottom: 32px;
}

.post__caption {
  margin-bottom: 16px;
}

.post__title {
  margin-bottom: 16px;
}

.post__title-link {
  display: block;
  color: inherit;
}

.post__text {
  max-width: 550px;
  margin-bottom: 32px;
}

.post__btn {
  display: block;
  max-width: fit-content;
}

.all-posts__container {
  max-width: 517px;
  width: 100%;
}

.all-posts__container-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.all-posts__container-link {
  color: var(--color-purple);
}

.all-posts__item {
  padding: 32px 32px 25px;
  transition: background-color 0.3s;
}

.all-posts__item:hover {
  background-color: var(--color-light-yellow);
}

.all-posts__item-caption {
  margin-bottom: 8px;
}

.all-posts__item-title {
  max-width: 370px;
}

.all-posts__item-link {
  color: inherit;
}

@media screen and (max-width: 1158px) {
  .posts__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .post__image,
  .all-posts__container,
  .all-posts__item-title {
    max-width: 100%;
    width: 100%;
  }

  .all-posts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .all-posts__item {
    max-width: calc((100% - 20px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .post__wrapper {
    padding: 25px;
    border: 1px solid rgb(109, 110, 118);
  }

  .all-posts__item {
    padding: 25px 30px;
    border-bottom: 1px solid var(--color-medium-grey);
    max-width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .posts {
    margin-bottom: 80px;
  }

  .posts__inner {
    gap: 45px;
  }

  .post__wrapper {
    padding: 10px;
    border-color: #6d6e765c;
  }

  .post__image,
  .all-posts__container-heading,
  .post__container-title {
    margin-bottom: 20px;
  }

  .post__text {
    margin-bottom: 20px;
  }

  .post__btn {
    margin: 0 auto;
  }

  .all-posts__item {
    padding: 10px;
    margin-bottom: 15px;
    border-color: #6d6e765c;
  }

  .all-posts__item:last-child {
    margin-bottom: 0;
  }
}
