.category {
  margin-bottom: 128px;
}

.category__title {
  text-align: center;
  margin-bottom: 48px;
  text-transform: capitalize;
}

.category__list {
  display: flex;
  gap: 32px;
}

.category__item {
  padding: 32px;
  border: 1px solid rgb(109 110 118 / 30%);
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.category__item:hover {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.category__item .icon {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.category__item-title {
  margin-bottom: 4px;
}

.category__item-title a {
  color: inherit;
}

@media screen and (max-width: 1158px) {
  .category__list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .category__item {
    max-width: calc((100% - 32px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .category__list {
    gap: 20px;
  }

  .category__item {
    text-align: center;
    padding: 15px;
    max-width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .category {
    margin-bottom: 80px;
  }
}
