.companies {
  margin-bottom: 96px;
}

.companies__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 74px;
}

.companies__item-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-medium-grey);
}

.companies__item-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
}

.companies__item:not(.companies__item:first-child) {
  height: 32px;
}

.companies__item .icon {
  height: 32px;
  color: #282938;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .companies__list {
    gap: 40px;
  }

  .companies__item:first-child {
    flex-basis: 100%;
  }

  .companies__item-caption,
  .companies__item-text {
    text-align: center;
  }
}
