.hero {
  background-image: url("../../img/hero-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 128px;
}

.gradient {
  background: radial-gradient(71.59% 72.01% at 75% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%);
  background-size: cover;
  height: 100vh;
}

.hero__inner {
  padding: 220px 0 182px;
}

.hero__subtitle {
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
  letter-spacing: 3px;
  font-weight: 500;
}

.hero__subtitle span {
  font-weight: 900;
}

.hero__title {
  color: #ffffff;
  max-width: 860px;
  margin-bottom: 24px;
}

.hero__info {
  color: #fff;
  margin-bottom: 16px;
}

.hero__info a {
  color: var(--color-yellow);
}

.hero__info .page-link:hover::after {
  background-color: var(--color-yellow);
}

.hero__text {
  color: #fff;
  max-width: 600px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1158px) {
  .hero {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    margin-top: 53px;
  }
}

@media screen and (max-width: 360px) {
  .hero {
    margin-top: 53px;
    margin-bottom: 80px;
  }

  .hero .gradient {
    background: radial-gradient(71.59% 72.01% at 75% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100%);
  }

  .hero__inner {
    padding: 120px 0 0;
  }
}
