<section class="posts">
  <div class="container">
    <h2 class="posts__title">All posts</h2>
    <ul class="posts__list">
      <li class="posts__item">
        <a class="post__item-link" href="#">
          <img
            class="posts__item-img"
            src="{=$image-path}/post-1.jpeg"
            alt="Post image"
          />
        </a>
      </li>
      <li class="posts__item">
        <a class="post__item-link" href="#">
          <img
            class="posts__item-img"
            src="{=$image-path}/post-2.jpeg"
            alt="Post image"
          />
        </a>
      </li>
      <li class="posts__item">
        <a class="post__item-link" href="#">
          <img
            class="posts__item-img"
            src="{=$image-path}/post-3.jpeg"
            alt="Post image"
          />
        </a>
      </li>
      <li class="posts__item">
        <a class="post__item-link" href="#">
          <img
            class="posts__item-img"
            src="{=$image-path}/post-4.jpeg"
            alt="Post image"
          />
        </a>
      </li>
      <li class="posts__item">
        <a class="post__item-link" href="#">
          <img
            class="posts__item-img"
            src="{=$image-path}/post-1.jpeg"
            alt="Post image"
          />
        </a>
      </li>
    </ul>
    <div class="posts__buttons">
      <span class="posts__btn btn-prev disabled">Prev</span>
      <span class="posts__btn btn-next">Next</span>
    </div>
  </div>
</section>
