<section class="hero blog-hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__wrapper">
        <p class="hero__subtitle">Featured Post</p>
        <h3 class="hero__title">
          <a class="hero__title-link" href="#">
            Step-by-step guide to choosing great font pairs
          </a>
        </h3>
        <p class="hero__info">
          By <a class="page-link" href="#">James West</a> | May 23, 2022
        </p>
        <p class="hero__text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <a class="hero__btn btn" href="#">Read More ></a>
      </div>
      <a class="hero__link" href="#">
        <img class="hero__img-link" src="{=$image-path}" alt="Hero image" />
      </a>
    </div>
  </div>
</section>
