<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="#">
        <img src="../img/logo.svg" alt="Logo" />
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link" href="../blog.html">Home</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Blog</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">About Us</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Contact us</a>
          </li>
        </ul>
        <button class="header__nav-btn btn">Subscribe</button>
      </nav>
    </div>
  </div>

  <div class="header__mobile">
    <a class="header__logo" href="#">
      <img src="../img/logo.svg" alt="Logo" />
    </a>
    <div class="burger-menu">
      <span class="item"></span>
    </div>
  </div>

  <nav class="header__nav mobile-menu">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" href="../blog.html">Home</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#">Blog</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#">About Us</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#">Contact us</a>
      </li>
    </ul>
    <button class="header__nav-btn btn">Subscribe</button>
  </nav>
</header>
