<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="#">
        <img src="" alt="Logo" />
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Home</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Blog</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">About Us</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Contact us</a>
          </li>
        </ul>
        <button class="header__nav-btn">Subscribe</button>
      </nav>
    </div>
  </div>
</header>
