:root {
  font-family: "Inter", "Sen", system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;

  --color-primary: #232536;
  --color-yellow: #ffd050;
  --color-purple: #592ea9;
  --color-dark-grey: #4c4c4c;
  --color-medium-grey: #6d6e76;
  --color-light-grey: #f4f4f4;
  --color-lavender: #f4f0f8;
  --color-light-yellow: #fbf6ea;

  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 56px;
  line-height: 64px;
}

h2 {
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-size: 36px;
  line-height: 48px;
}

h4 {
  font-size: 28px;
  line-height: 36px;
}

.btn {
  padding: 16px 48px;
  background-color: var(--color-yellow);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-primary);
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #edc14a;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 2px;
  bottom: -2px;
  right: 0;
  transition: all 0.3s;
}

.nav-link:hover::after {
  background-color: rgba(255, 255, 255, 0.7);
}
