.header {
  background-color: var(--color-primary);
  padding: 12px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 29px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__nav-list {
  display: flex;
  gap: 24px;
}

.header__nav-btn {
  background-color: #fff;
}

.header__nav-btn:hover {
  background-color: #d6d6d6;
}

.header__mobile {
  padding: 0 15px;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mobile-menu {
  transform: translateY(-110%);
  transition: transform 0.9s;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.mobile-menu.visible {
  transform: translateY(0);
}

.mobile-menu .header__nav-list {
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.burger-menu {
  display: none;
  cursor: pointer;
  padding: 12px 5px;
}

.burger-menu .item {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s;
}

.burger-menu .item::before,
.burger-menu .item::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: transform 0.3s;
}

.burger-menu .item::before {
  top: -8px;
}

.burger-menu .item::after {
  top: 8px;
}

.burger-menu.active .item {
  background-color: transparent;
}

.burger-menu.active .item::after {
  transform: rotate(-45deg);
  top: 0px;
}

.burger-menu.active .item::before {
  transform: rotate(45deg);
  top: 0px;
}

@media screen and (max-width: 768px) {
  .header__inner {
    display: none;
  }

  .header__mobile {
    display: flex;
  }

  .burger-menu {
    display: block;
  }
}
