<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__wrapper">
        <p class="about__caption caption">ABOUT US</p>
        <h3 class="about__title">
          We are a community of content writers who share their learnings
        </h3>
        <p class="about__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="about__link page-link" href="#">Read More ></a>
      </div>
      <div class="mision__wrapper">
        <p class="mision__caption caption">Our mision</p>
        <h4 class="mision__title">
          Creating valuable content for creatives all around the world
        </h4>
        <p class="mision__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>
