<section class="posts">
  <div class="container">
    <div class="posts__inner">
      <div class="post__container">
        <h3 class="post__container-title">Featured Post</h3>
        <div class="post__wrapper">
          <a class="post__link" href="#">
            <img class="post__image" src="{=$image-path}" alt="Post Image" />
          </a>
          <p class="post__caption label">
            By <a class="post__author page-link" href="#">John Doe</a>
            <span></span> May 23, 2022
          </p>
          <h4 class="post__title">
            <a class="post__title-link" href="#">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor.
            </a>
          </h4>
          <p class="post__text">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident.
          </p>
          <a class="post__btn btn">Read More ></a>
        </div>
      </div>
      <div class="all-posts__container">
        <div class="all-posts__container-heading">
          <h3 class="all-posts__container-title">All Posts</h3>
          <a class="all-posts__container-link page-link" href="#">View All</a>
        </div>
        <ul class="all-posts__list">
          <li class="all-posts__item">
            <p class="all-posts__item-caption label">
              By
              <a class="all-posts__item-author page-link" href="#">John Doe</a>
              <span></span> May 23, 2022
            </p>
            <h5 class="all-posts__item-title">
              <a class="all-posts__item-link" href="#">
                8 Figma design systems that you can download for free today.
              </a>
            </h5>
          </li>

          <li class="all-posts__item">
            <p class="all-posts__item-caption label">
              By
              <a class="all-posts__item-author page-link" href="#">John Doe</a>
              <span></span> May 23, 2022
            </p>
            <h5 class="all-posts__item-title">
              <a class="all-posts__item-link" href="#">
                8 Figma design systems that you can download for free today.
              </a>
            </h5>
          </li>

          <li class="all-posts__item">
            <p class="all-posts__item-caption label">
              By
              <a class="all-posts__item-author page-link" href="#">John Doe</a>
              <span></span> May 23, 2022
            </p>
            <h5 class="all-posts__item-title">
              <a class="all-posts__item-link" href="#">
                8 Figma design systems that you can download for free today.
              </a>
            </h5>
          </li>

          <li class="all-posts__item">
            <p class="all-posts__item-caption label">
              By
              <a class="all-posts__item-author page-link" href="#">John Doe</a>
              <span></span> May 23, 2022
            </p>
            <h5 class="all-posts__item-title">
              <a class="all-posts__item-link" href="#">
                8 Figma design systems that you can download for free today.
              </a>
            </h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
