<section class="category">
  <div class="container">
    <h3 class="category__title">Choose a category</h3>
    <div class="category__inner">
      <ul class="category__list">
        <li class="category__item">
          <svg class="icon">
            <use xlink:href="{=$icons-path}#category-business-icon"></use>
          </svg>
          <h4 class="category__item-title"><a href="#">Business</a></h4>
          <p class="category__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          </p>
        </li>

        <li class="category__item">
          <svg class="icon">
            <use xlink:href="{=$icons-path}#category-startup-icon"></use>
          </svg>
          <h4 class="category__item-title"><a href="#">Startup</a></h4>
          <p class="category__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          </p>
        </li>

        <li class="category__item">
          <svg class="icon">
            <use xlink:href="{=$icons-path}#category-economy-icon"></use>
          </svg>
          <h4 class="category__item-title"><a href="#">Economy</a></h4>
          <p class="category__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          </p>
        </li>

        <li class="category__item">
          <svg class="icon">
            <use xlink:href="{=$icons-path}#category-technology-icon"></use>
          </svg>
          <h4 class="category__item-title"><a href="#">Technology</a></h4>
          <p class="category__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
