<section class="companies">
  <div class="container">
    <ul class="companies__list">
      <li class="companies__item">
        <p class="companies__item-caption">We are</p>
        <p class="companies__item-text">Featured in</p>
      </li>
      <li class="companies__item">
        <svg class="icon" width="160">
          <use xlink:href="{=$icons-path}#company-logo-1"></use>
        </svg>
      </li>
      <li class="companies__item">
        <svg class="icon" width="136">
          <use xlink:href="{=$icons-path}#company-logo-2"></use>
        </svg>
      </li>
      <li class="companies__item">
        <svg class="icon" width="135">
          <use xlink:href="{=$icons-path}#company-logo-3"></use>
        </svg>
      </li>
      <li class="companies__item">
        <svg class="icon" width="153">
          <use xlink:href="{=$icons-path}#company-logo-4"></use>
        </svg>
      </li>
      <li class="companies__item">
        <svg class="icon" width="136">
          <use xlink:href="{=$icons-path}#company-logo-5"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
