<section class="companies">
  <div class="container">
    <ul class="companies__list">
      <li class="companies__item">
        <p class="companies__item-caption">We are</p>
        <p class="companies__item-text">Featured in</p>
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="{=$icons-path}#company-logo-1"></use>
        </svg>
        <svg class="icon">
          <use xlink:href="{=$icons-path}#facebook-icon"></use>
        </svg>
        <svg class="icon">
          <use xlink:href="{=$icons-path}#category-business-icon"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
