<section class="mind">
  <div class="container">
    <div class="mind__inner">
      <div class="mind__wrapper">
        <p class="mind__caption caption">TESTIMONIALs</p>
        <h3 class="mind__title">What people say about our blog</h3>
        <p class="mind__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="swiper mind__slider">
        <div class="swiper-wrapper">
          <div class="mind__item swiper-slide">
            <p class="mind__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="mind__item-info">
              <img
                class="mind__item-img"
                src="{=$image-path}"
                alt="Author image"
              />
              <div class="mind__item-wrapper">
                <p class="mind__item-name">Jonathan Vallem</p>
                <p class="mind__item-position">New york, USA</p>
              </div>
            </div>
          </div>
          <div class="mind__item swiper-slide">
            <p class="mind__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="mind__item-info">
              <img
                class="mind__item-img"
                src="{=$image-path}"
                alt="Author image"
              />
              <div class="mind__item-wrapper">
                <p class="mind__item-name">Jonathan Vallem</p>
                <p class="mind__item-position">New york, USA</p>
              </div>
            </div>
          </div>
          <div class="mind__item swiper-slide">
            <p class="mind__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="mind__item-info">
              <img
                class="mind__item-img"
                src="{=$image-path}"
                alt="Author image"
              />
              <div class="mind__item-wrapper">
                <p class="mind__item-name">Jonathan Vallem</p>
                <p class="mind__item-position">New york, USA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button__wrapper">
        <div class="swiper-button-next">
          <svg class="icon">
            <use xlink:href="{=$icons-path}#arrow-icon"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="icon">
            <use xlink:href="{=$icons-path}#arrow-icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
