<section class="started">
  <div class="container">
    <div class="started__inner">
      <img class="started__img" src="{=$image-path}" alt="Started image" />
      <div class="started__wrapper">
        <p class="started__caption caption">Why we started</p>
        <h2 class="started__title">
          It started out as a simple idea and evolved into our passion
        </h2>
        <p class="started__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip.
        </p>
        <a class="started__button btn" href="#">Discover our story ></a>
      </div>
    </div>
  </div>
</section>
